.about{
    width: 100%;
    padding: 80px 0;
    background: $c5c;
    .about-in{
        @include media(1230px){
            flex-direction: column;
        }
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-left{
            display: grid; 
            gap: 18px;
            @include media(1430px){
                width: 40%;
            }
            @include media(1230px){
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            width: 49%;
            img{
                overflow: hidden;
                @include media(1230px){
                    width: 32.5% !important;
                    height: 350px !important;
                }
            }
            .img1{
                @include media(1430px){
                    width: 250px;
                }
                @include media(1230px){
                    width: 49%;
                }
                
                width: 305px;
                height: 560px;
                grid-row-start: 1;
                grid-column-start: 1;
                grid-row-end: 3;
                grid-column-end: 2;
            }
            .img2{
                @include media(1430px){
                    width: 250px;
                }
                @include media(1230px){
                    width: 49%;
                }
                width: 305px;
                height: 270px;
                grid-row-start: 1;
                grid-column-start: 2;
                grid-row-end: 2;
                grid-column-end: 3;
            }
            .img3{
                @include media(1430px){
                    width: 250px;
                }
                @include media(1230px){
                    width: 49%;
                }
                width: 305px;
                height: 270px;
                grid-row-start: 2;
                grid-column-start: 2;
                grid-row-end: 3;
                grid-column-end: 3;
            }
        }
        &-right{
            @include media(1230px){
                width: 100%;
                margin-top: 24px;
            }
            width: 49%;
            .txt-38{
                color: $c00;
            }
            .txt-20{
                color: $c6c;
                margin-top: 24px;
            }
            .btn-glavni{
                margin-top: 30px;
            }
            
        }
    }

}