.servise{
    width: 100%;
    padding: 80px 0;
    background: $c5c;
    border-top: 1px solid #D0D1D3;
    border-bottom: 1px solid #D0D1D3;
    .servise-in{
        width: 100%;
        .top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .txt-38{
                color: $c00;
            }
        }
        .main-cards{
            width: 100%;
            margin-top: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            .cards-b{
                margin-top: 30px;
                width: 32.5%;
                transition: .3s;
                cursor: pointer;
                &:hover{
                    transform: translateY(-5px);
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    .top{
                        background: #000;
                        img{
                            transform: scale(1.1) rotate(5deg);
                            opacity: .7;
                        }
                    }
                    .txt-23{
                        color: $c1c;
                    }
                }
                .top{
                    width: 100%;
                    height: 350px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        transition: .3s;
                    }
                }
                .txt-23{
                    padding: 12px 20px;
                    color: $c00;
                    transition: .3s;
                }
            }
        }
    }
}