//background-color

$c1c: #5A9206;
$chc: #84CD16;
$c2c: #8D8F93;
$c3c: #528407;
$c00: #000000;
$c6c: #4E4F52;
$cff: #ffffff;
$c4c: #D9D9D9;
$c5c: #FEFCFA;



//transition

$tr1: .3s ease;
$tr2: .4s ease;
$tr3: .5s ease;

$font-inter: 'Inter', sans-serif;